.user-select{
    display: grid;
    grid-template-columns: auto;
    gap: 32px;
}
.user-select_hidden{
    display: none;
}
.user-select h1{
    font-size: 32px;
    line-height: 36px;
}
.user-select__links{
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    gap: 16px;
}